@media (max-width: 511px) {
    .menu {
        display: none;
        position: fixed;
        background-color: #ff9826;
        right: 0;
        left: 0;
        top: 0;  
    bottom: 0;
        text-align: center;
        height: 100vh;
        width: 100vw;
        z-index: 9999;
        overflow-y: auto;
    }

    .menu li a {
        color: #fff;
    }


    .searchtxt{

        margin-left: 0.87rem;
        margin-right: 1.87rem;
    }
    .menu li:first-child {
        margin-top: 13.375rem;

    }

    .menu li:nth-child(2) {
        margin-top: 8.625rem;

    }

    .menu li:nth-child(3) {
        margin-top: 8.625rem;

    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .main-gallery {
        column-count: 2;
        margin-left: 0;
        margin-right: 0
    }

    .meme-gallery {
        column-count: 2 !important;
    }

    .main-editor {
        background-color: #F8F8F8;
        grid-template-columns: 1fr;
        padding: 2px;
        margin-inline-start: 0px;
    }



    .editcontainer {
        background-color: #fff;
    }

    canvas {
        width: 330px;
    }

    .downloadbtn {

        width: 150px;
        height: 42px;
        position: static;
        margin: 0 auto;
    }

    .buttoninputbox {
        margin-left: 1px;
    }

    .sticker-container {
        margin-left: 1px;
    }

    .instructionscontainer {
        margin-left: 1px;
    }

    .backtogallery {
        display: none;
    }

    .savebtn{
        width: 150px;
        height: 42px;
        position: static;

        margin-bottom: 10px;
        
    }

    .editcontainer h1{
margin-top: 15px;
margin-inline-start: 100px;
    }

    .btnstuff{

        margin-left: 30px;
    }

    h5{
        display: none;
    }
}



