.midbar {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    
}



#imageUpload{
    margin-bottom: 10px;
}

.custom-file-upload-button {
    background-color: #FF9826;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    
}
