.main-editor {
    display: grid;
    margin-top: 1px;
    grid-template-columns: 60% 1fr;
    gap: 1rem;
    padding-left: 1.87rem;
    box-sizing: border-box;
    height: 90vh;
    background-color: #fff;
}
    

.canvas-box {
    position: relative;
    display: flex;         
    justify-content: center; 
    align-items: center;     
    background-color: #fff;
    height: 100%;           
}


.backtogallery {
    position: absolute;  
    top: 1.25rem;           
    left: 0;             
    width: 7rem;
    height: 1rem;
    text-decoration: none;
    background-color: #fff;
    border: none;
    font-size: 0.875rem;
}

#my-canvas {
    touch-action: none;
}

.editcontainer{
    background-color: #F8F8F8;

}

.editcontainer button img{
    height: 15px;
    width: 11px;
    cursor: pointer;
}

.editcontainer button{
    border: none;
    background-color: #fff;
}

#fontColor{
    margin-inline-start: 20px;
    height: 30px;
    width: 30px;
    border: 1px solid #F8F8F8;
    background-color: #fff;
    cursor: pointer;
}

.buttoninputbox {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: auto auto; 
    border-radius: 25px;
    border: 1px solid #F8F8F8;
    max-width: 30.37rem;
    background-color: #fff;
    overflow: hidden;
    margin-left: 1.875rem;
    align-items: center;
    
    
     
}

.buttoninputbox input[type="text"] {
    border: 1px solid #F8F8F8;
    padding: 1.65rem;
    grid-column: 1 / span 10; 
    outline: none;
    
}

.editcontainer h1{
margin: 1.875rem;
color: #727272;
font-size: 1.5rem;
}


.downloadbtn a{
color: white;

}

.downloadbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 54px;
    background-color: #FF9826;
    border: 1px solid black;
    border-radius: 30px;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}


#font-family-select{
margin-left: 0.8rem;
    font-size: 0.8rem;
    height: 22px;
    border: 1px solid #F8F8F8
}

.sticker-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: auto auto; 
    border-radius: 25px;
    border: 1px solid #F8F8F8;
    max-width: 30.37rem;
    background-color: #fff;
    overflow: hidden;
    margin-left: 1.875rem;
    align-items: center;
    margin-bottom: 30px;


    
}

.sticker{
    width: 50px;
    height: 40px;
    background-color: transparent;
}